* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    margin-top: 50px;
    flex: 1;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

.icon {
    background-color: #4CAF50;
    border-radius: 50%;
    padding: 60px;
    margin-bottom: 140px;
}

.icon svg {
    width: 100px;
    height: 90px;
    fill: #fff;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color:#218838;
}

p {
    font-size: 0.9em;
    color: #666;
    font-family: Arial, sans-serif;
}