body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardapio {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.item img {
  width: 113px;
  height: 79px;
  border-radius: 10px;
  margin-left: 26px;
}

.info {
  flex: 1;
  text-align: left;
  max-height: 1%;
}

.info h2 {
  font-size: 18px;
  padding-bottom:2px;
  max-height: 1%; 
  white-space: nowrap;
  

}

.info p {
  font-size: 14px;
  color: #706E6E;
  max-width: 160px; 
}

.info span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.actions {
  margin-left: 10px;
  display: flex; 
  align-items: center;
}

.lapis {
  width: 23px; 
  height: auto;
  cursor: pointer;
  padding-top: 70px;
}

button:hover {
  background-color: #ca5507;
}

.botao {
  text-align: center;
  margin-top: 20px;
}

.botao button {
  width: 312px;
  height: 45px;
  background-color: #F25C08;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
}

.botao button a {
  color: white;
  text-decoration: none;
}
