
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}


h2 {
    font-size: 1.25em;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
    font-weight: bold;
}


form img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


form div {
    margin-bottom: 15px;
}

label {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

textarea {
    height: 80px;
    resize: none;
}

button[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}

button[type="submit"]:hover {
    background-color: #218838;
}


form div.inline {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form div.inline input {
    flex: 1;
}