body {
  font-family: Arial, sans-serif;
  }
  
.container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 16px
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}
    

.voltar {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 16px;
  
}

header .voltar{
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.delete-icon {
    cursor: pointer;
    font-size: 24px;
}

.subtotal, .frete, .total {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    font-size: 15px;
}

.total {
    font-size: 18px;
    margin-top: 10px;
}

.frete{
    margin-top: 60px;
    margin-top: 10px;
}

.subtotal{
    margin-top: 180px;
}

.botaoseguir {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: 18px;
    background-color: #327634;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botaoseguir:hover {
    background-color: #2a5a2c;
}

.add-items{
    background-color: #F3ECFF;
    border: none;
    cursor: pointer;
    padding: 10px; 
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    left: auto; 
    margin-top: 40px;
    position: relative; 
    float: left; 
    margin-bottom: 50px;
}

.add-items:hover { 
    background-color: #D1CCDB;

}

h2 {
    font-size: 15px;
}

p{
    font-size: 10px;
}
