body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  text-align: center; /* Alinhando o conteúdo ao centro */
}

.voltar {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinhando o conteúdo ao centro */
  padding: 16px;
}

header .voltar {
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;
  padding-right: 120px;
}

.produto-info {
  text-align: center;
}

.produto-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.produto-info img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.observacao {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.observacao label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.observacao-textarea {
  width: 312px;
  height: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
  background-color: #C6C2C0;
  margin-left: 24px;
}

.observacao-label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 24px;
}

.quantidade-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinhando ao centro */
  margin-top: 20px;
}

.quantidade-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
}

.quantidade {
  font-size: 18px;
  margin: 0 30px;
}

.adicionar-btn {
  padding: 10px;
  font-size: 16px;
  width: 163px;
  height: 45px;
  background-color: #327634;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; /* Centralizando */
  display: block;
}

.adicionar-btn:hover {
  background-color: #2a5a2c;
}

.lanche {
  width: 312px;
  height: 195px;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 70px;
  align-items: center;
  border-radius: 10px;
  display: block;
}
