/* cardapio.component.css */

.menu-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10;
  flex-grow: 1;
  margin-bottom: 40px;
}

.carrinho {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 16px;
  transform: translateY(-0%)scale(0.4);
  margin-bottom: 5px;

}

.produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 10px;
}

.produto .texto {
  flex: 1;
  font-family: Arial, sans-serif;
}

.produto .imagem {
  margin-left: 20px;
}

.produto-imagem {
  cursor: pointer;
  width: 150px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 8px;
}

.produto-description {
  color: #706E6E;
  font-size: 8px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  font-family: Arial, sans-serif;
}
