body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d9d9d9; /* Fundo #d9d9d9 */
  color: #fff; /* Texto branco */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  overflow: hidden; /* Remove as barras de rolagem */
}

.container {
  text-align: center;
  padding: 49px;
  flex-grow: 1; /* Faz a container crescer para preencher o espaço restante */
  overflow-y: auto; /* Permite a rolagem vertical */
}

.header {
  background-color: #000; /* Fundo preto */
  color: #fff;
  text-align: center;
  top: 0; /* Colando no topo */
  z-index: 1000;
  height: 56.06px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.header h1 {
  margin: 0; /* Remove a margem padrão */
}

.pedido {
  background-color: #fff; /* Caixa com fundo mais claro */
  color: #000;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.pedido-id {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-bottom: 1px;
  align-items: top;
  text-align: center; /* Centraliza o texto do ID */
}

.pedido-item {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 8px;
}

.item-nome {
  font-weight: regular;
  text-align: center; /* Centraliza o texto */
  font-size: 18px;
}

.item-descricao {
  font-size: 10px;
  font-style: italic;
  color: #706E6e;
  text-align: center; /* Centraliza o texto */
}

.status-dropdown {
  position: relative;
  width: 262px;
  max-height: 300px;
  margin: 0 auto; /* Centraliza o dropdown */
  text-align: center;
}

.status-button {
  background-color: #000; /* Botão dropdown com fundo preto */
  color: #fff;
  border: none;
  cursor: pointer;
  width: 238px;
  height: 30px;
  margin: 0 auto; /* Centraliza o botão */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adiciona espaço entre o texto e a seta */
  padding: 0 10px; /* Adiciona espaço interno nas laterais */
  white-space: nowrap; /* Garante que o texto não quebre a linha */
  overflow: hidden; /* Esconde qualquer texto que ultrapasse os limites do botão */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* Centraliza o dropdown com o botão */
  min-width: 238px;
}

.status-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #fff;
  padding: 10px 0; /* Adiciona espaço vertical interno */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  text-decoration: none;
  width: 100%; /* Garante que o item ocupe toda a largura */
  height: 30px;
  white-space: nowrap; /* Garante que o texto não quebre a linha */
}

.dropdown-item.feito {
  background-color: red;
}

.dropdown-item.enviado {
  background-color: orange;
}

.dropdown-item.entregue {
  background-color: green;
}

.FEITO {
  background-color: red;
}

.ENVIADO {
  background-color: orange;
}

.ENTREGUE {
  background-color: green;
}