body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d9d9d9; /* Fundo #d9d9d9 */
  color: #fff; /* Texto branco */
}

.container {
  text-align: center;
  padding: 49px;
}

.header {
  background-color: #000; /* Fundo preto */
  color: #fff;
  padding-top: 1px;
  text-align: top;
  top: 0; /* Colando no topo */
  z-index: 1000;
  height: 56.06px;
}

.header h1 {
  text-align: center;
}

.pedido {
  background-color: #fff; /* Caixa com fundo mais claro */
  color: #000;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.pedido-id {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.pedido-item {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 8px;
  
}

.item-nome {
  font-weight: regular;
  text-align: left;
  font-size: 18px;
}

.item-descricao {
  font-style: italic;
  color: #706E6e;
  text-align: left;
}



.status-dropdown {
  position: relative;
}

.status-button {
  background-color: #000; /* Botão dropdown com fundo preto */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444; /* Menu dropdown com fundo um pouco mais claro */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 150px;
}

.status-dropdown:hover .dropdown-menu {
  display: block; /* Mostrar o menu dropdown ao passar o mouse */
}

.dropdown-item {
  color: #fff;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-item.feito {
  background-color: red;
}

.dropdown-item.enviado {
  background-color: orange;
}

.dropdown-item.entregue {
  background-color: green;
}

.dropdown-item:hover {
  background-color: #555;
}

.feitio {
  background-color: red;
}

.enviado {
  background-color: orange;
}

.entregue {
  background-color: green;
}